KAZITU_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001,http://localhost:3201,http://127.0.0.1:3201
REDIS_URL=redis://localhost:6379/0
DATABASE_URL=postgresql://localhost/kazitu_api_development
